@namespace xml3d "http://www.xml3d.org/2009/xml3d";

* {
    padding: 0;
    margin: 0;
}

xml3d|float,
xml3d|float2,
xml3d|float3,
xml3d|float4,
xml3d|float4x4,
xml3d|int,
xml3d|int4,
xml3d|bool,
xml3d|script  {
   display: none;
}

body {
    font-family: 'Helevtica Neue',Helvetica,Arial,sans-serif;
    color: #555;
}

xml3d {
    width: 320px;
    height: 240px;
}

a{
    color: #365DA0;
}
a:hover{
    color: #466DE0;
}

#overall{
    margin-left: 200px;
    margin-top: 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.navi_hidden #overall{
    margin-left: 0;
}

iframe{
    border: 0px;
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    background: #eee;
    color: #888;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 16px;
    height: 35px;
    border-radius: 0 0 0 16px;
    overflow: hidden;
    z-index: 1;
}

#header h1, #header h2, #header h3{
    font-size: 20pt;
    display: inline;
    padding: 0 16px 0 0;
    white-space: nowrap;
}
#header h2, #header h3{
    font-weight: normal
}
#header h1 a{
    text-decoration: none;
}
#header h2:before, #header h3:before{
    content: "> ";
}

/* NAVIGATION */

#navigation {
    position: fixed;
    top: 0px;
    height: 500px;
    width: 200px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
    border-radius: 0 0 16px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    z-index: 1;
}

.navi_hidden #navigation{
    bottom: auto;
    height: 43px;
}

.navi_hidden #navigation .inner{
    opacity: 0;
    overflow: hidden;
}

#navigation h4{
    font-size: 20pt;
    padding: 4px 8px;
    font-weight: normal;
    cursor: pointer;
}
#navigation ul{
    list-style: none;
}

#navigation .inner{
    position: absolute;
    left: 0; right: 0;
    top: 45px;
    bottom: 20px;
    border-top: 1px solid #ccc;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

#navigation ul h5{
    font-size: medium;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 2px 4px;
}

#navigation a{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 2px 12px;
    text-decoration: none;
    background: #fff;
    font-size: small;
}
#navigation span.info{
    display: none;
}

#navigation a:hover{
    background-image: -webkit-linear-gradient(right,#eef,white, white, white);
    text-decoration: underline;
}

/* CONTENT */

#content {
    position: relative;
    width: 1024px;
    min-height: 200px;
    margin: 8px auto;
    border: 1px solid #ccc;
    padding: 16px 24px;
}

#content h1{
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

#content p{
    padding-bottom: 8px;
}
#content ul{
    padding-left: 20px;
}
#content li{
    padding-bottom: 4px;
}

#content div.description{
    border: 1px solid #ccc;
    background: #eee;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

#content .xml3d{
    display: block;
    border: 1px solid #aaa;
    margin: 16px auto;

}

/* INDEX CONTENT */

#start ul{
    list-style: none;
}
#start ul.sub li{
    padding-left: 16px;
    padding-bottom: 8px;
}

#start h5{
    font-size: large;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin: 8px 0;
}

#start a{
    font-size: large;
    display: block;
}

#footer {

}

.socialButtons{
    text-align: center;
    padding: 8px;
    height: 10px;
}

div.socialButtons * {
    padding: 2px;
    float: left;
}

/* SCENE CONTROL */

.controls{
    width: 800px;
    border: 1px solid #ccc;
    margin: 0 auto 8px auto;
    padding: 16px;

}

.controls label{
    float: left;
    width: 150px;
}
.controls .slider{
    float: left;
    width: 400px;
}
.controls .info{
    float: left;
    width: 200px;
    padding-left: 20px;
}
.controls .option{
    padding: 8px;
}
.controls .option:after{
    content: " ";
    display: block;
    clear: both;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 2;
}